body{
	font-family:helvetica;
	text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.container{
    height:100vh;
	width:150vh;
    position: relative;
}


#yesbutton{
	width:20%;
	height:15%;
	bottom:45%;
	right:80%;
}

#nobutton{
	width:20%;
	height:15%;
	bottom:45%;
	right:20%;
}

#nextbutton{
	display:none;
	width:20%;
	height:10%;
	bottom:35%;
	right:50%;
}

#statement_pic{
	height:100%;
	width:6.66%;
	display:inline-block;
	vertical-align: middle;
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center center;
}

.mybutton {
	position:absolute;
	cursor:pointer;
	color:#ffffff;
	transform: translate(50%, 50%);
	border-radius:4px;
	border: 2px solid #666666;
	background-color:#999999;
	font-size:2.25vh;
	padding: 10px 10px; 
	text-decoration:none;
	background-repeat:no-repeat;
}
.mybutton:hover {
	background-color:#aaaaaa;
}

#feedback{
	position:absolute;
	bottom:50%;
	right:50%;
	width:50%;
	height:10%;
	transform:translate(50%, 50%);
}

.overlayed{
  opacity:0.4; 
  background:black; 
  width:100%;
  height:100%; 
  z-index:10;
  position:fixed;
}

.instructions{
	position:absolute;
	width:90%;
	height:90%;
	top:5%;
	right:5%;
	background-color:white;
	border-radius:20px;
	border:2px solid #666666;
	z-index:20;
}

.instructions p {
	text-align:left;
	margin-left:2%;
	margin-right:2%;
	margin-top:1.5%;
	margin-bottom:1.5%;
	font-size:2vh;
}

.example{
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center center;
	width:15%;
	height:100%;
	margin-left:2%;
	margin-right:2%;
	display:inline-block
}

.die{
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center center;
	background-color: #dddddd;
	position:absolute;
	width:12%;
	height:18%;
	margin:0 auto;
    border: 3px solid;
    border-radius: 20px;
	border-color: #222222;
	transform: translate(50%, 50%);
}

.die p{
	position: absolute;
	top:50%;
	right:50%;
	font-size:4.5vh;
	transform: translate(50%, -50%);
}